= form_for @order do |f|
  %h1.title_gray_bg Select delivery type
  %br/
  %p
    - Delivery.all.each_with_index do |delivery, index|
      = radio_button_tag("order[delivery_id]", delivery.id, (index == 0))
      = delivery.name
      %br/
  %br/
  %h1.title_gray_bg Address info
  %p
    = f.label :city
    %br/
    = f.text_field :city
  %p
    = f.label :state
    %br/
    = f.text_field :state
  %p
    = f.label :country
    %br/
    = f.text_field :country
  %p
    = f.label :address1
    %br/
    = f.text_field :address1
  %p
    = f.label :zip
    %br/
    = f.text_field :zip
  %br/
  .left_col{style:'width:450px'}
    %h1.title_gray_bg Pay products
    - @order.errors.full_messages.each do |msg|
      %p= msg
    %p
      = f.label :email
      %br/
      = f.text_field :email
    %p
      = f.label :first_name
      %br/
      = f.text_field :first_name
    %p
      = f.label :last_name
      %br/
      = f.text_field :last_name
    %p
      = f.label :card_type
      %br/
      = f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]]
    %p
      = f.label :card_number
      %br/
      = f.text_field :card_number
    %p
      = f.label :card_verification, "Card Verification Value (CVV)"
      %br/
      = f.text_field :card_verification
    %p
      = f.label :card_expires_on
      %br/
      = f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true
    %p= f.submit "Submit"
  .right_col{style:'width:457px'}
    %h1.title_gray_bg Or send letter to email
    %p
      = label_tag 'email'
      %br/
      = text_field_tag 'email', "#{current_user == nil ? '' : current_user.email}"
    %p= f.submit "Submit"